<main>
    <form action="/user/{{artist.userId}}/artist/{{artist._id}}?_method=PUT" method="POST">
<h1> Edit Song</h1>
        <div class="formBackground">


            
            <input type="submit" value="Update Song">

        </div>
    </form>
</main>