<main>
    <form action="/user/{{user._id}}?_method=PUT" method="POST">

        <div class="formBackground">


            <div id="Username">
                <label for="Username">Username:</label>
                <input value={{user.Username}} type="text" name="Username">
            </div>

            <div id="fg">
                <label for="">Favorite Genre:</label>
                <input value={{user.FavoriteGenre}} type= "text" name= "FavoriteGenre">
                <input type="submit" value= "Update">
                <a href="/user/{{user._id}}">Cancel</a>


            </div>
        </div>
    </form>
</main>