<main>


    <h1>List Of Users</h1>

    {{#each users}}
    <div>
        <ul>
            <li>
            {{Username}} <a href="/user/{{_id}}">View</a> <a href="/user/{{_id}}/edit"> Edit</a>  <form action="/user/{{_id}}?_method=DELETE" method="POST"> <input type="submit" value="Delete"> </form><br>
            
            </li>
        </ul>
    </div>
    {{/each}}
    
</main>