<body>
    <div class="homePage">

        <nav id="sideBar">
            <h1>Music Log</h1>
            <a href="">Home</a>
            <a href="">Artists</a>
            <a href="">Songs</a>
            <a href="">My Profile</a>
        </nav>

        <div id="rightSide">

            <div id="userLogin">

                <form action="/user/" method="POST">

                    <div class="formBackground">


                        <div id="Username">
                            <label for="Username">Username:</label>
                            <input type="text" name="Username">
                        </div>

                        <div id="fg">
                            <label for="">Favorite Genre:</label>
                            <input type="text" name="FavoriteGenre">
                            <input type="submit" value="CreateUsername">


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>