<main>
    <form action="/user/{{user._id}}/artist" method="POST">

        <div class="formBackground">


            <div id="Artists">
                <label for="Artist Name">Artist Name:</label>
                <input type="text" name="ArtistName">
            </div>

            <div id="fg">
                <label for="Genre">Genre: </label>
                <input type="text" name="Genre">
            </div>
            
            
             <input type="submit" value="Add Artist">

        </div>
    </form>
</main>